.post {
  height: 750px;
  width: 100%;
  box-sizing: border-box;
}

.post-header {
  display: flex;
  align-items: center;
  margin: 0rem 1rem 1rem 1rem;
}

.post-icon {
  font-size: 30px;
  margin-right: 0.5rem;
}

.post p {
  margin: 0rem;
}

.post-image {
  min-width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.post-details {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0rem 1rem;
  height: 104px; /* 6.5rem */
  overflow: hidden;
}

.post-icons {
  margin: 0.5rem 0rem;
}
