.tab-switcher-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
}

.tab-switcher {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  padding: 2rem 0 1rem 0;
  background: rgb(0,180,216);
  background: linear-gradient(0deg, rgba(0,180,216,1) 47%, rgba(144,224,239,1) 100%); 
  color:  #CAF0F8;
  font-family: Tahoma, sans-serif;
  letter-spacing: 2px;
}

.tab-switcher a {
  text-decoration: none;
  color: inherit;
}

.tab-active {
  font-weight: bold;
}
