.cardContainer{
    overflow: hidden;
    position: relative;
    height: 853px;
    width: 100%;

}

.card{
    position: absolute;
    height: 853px;
    width: 100%;
  }

  .cardWrapper {
    position: relative;
  }

  .buttons {
    position: absolute;
    bottom: 20px; /* Adjust bottom position as needed */
    right: 10px; /* Adjust left position as needed */
    padding-bottom: 100px;
    display: flex;
    flex-direction: column; /* Stack buttons on top of each other */
    align-items: center;
  }

  .cardIcon{
    margin-bottom: 30px; /* Add space between buttons */
    font-size: 50px; 
    color: white;
  }
  
  .undoButton {
    position: absolute;
    top: 20px; /* Adjust bottom position as needed */
    right: 20px; 
    font-size: 60px;
    height: 70px;
    color: #CAF0F8;
    z-index: 1;
  }
  
  .undoButton.disabled {
    background-color: lightblue; /* Background color when button is disabled */
  }

  .swipeBlock {
    /* background-color: #03045E; */
    width: 100vw;
    height: 300px;
    z-index: 2;
    position: absolute;
    bottom: 0;
    margin-bottom: 80px;
    opacity: 40%;
  }
  