.editHeader{
    text-align: center;
    flex-direction: row;
    display: flex;
    padding: 10px;
    align-items: center;
    margin-top: 10px;
    }

.editHeader h1{
    margin: 0px;
    padding: 0px;
    text-align: center;
    margin-left: 25%;
}

.inputItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    border: 1px solid red;

}
.inputImage img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}
.editInputs{
    margin-bottom: 20px;
    border: 1px solid red;
}