.profile{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 50px;
    height: 780px;
    color: #0077B6;
    background-color: #90E0EF;
}

.profileHeader{
    align-items: center;
    width: 90%;
    display: flex;
    flex-direction: row;
    position: relative;
    color: #00B4D8;
    letter-spacing: 3px;
    font-family: Tahoma, sans-serif;
}

.profileHeader img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}
.profileHeader h1{
    font-size: 2rem;
    text-align: center;
}

.userName h1{
    font-size: 2rem;
    text-align: center;

}
.profilePosts img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 0px;
}

.spacer {
  height: 40px;
}

.profilePosts{
    align-items: center;
    justify-content: left;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    /* border: 10px dashed #0077B6;  */
    padding: 10px;
    background-color: #00B4D8;
}



.profileIcon{
    position: absolute;
    right: 0;
    font-size: 35px;
    cursor: pointer;
    margin-left: auto;
    
}

  .dropdown-content {
    display: block;
    position: absolute;
    right: 0;
    background-color: transparent;
    border: #64c4ff 1px solid;
    min-width: 120px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 70%;
   
  }
  
  .dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    border: #64c4ff 1px solid;
    display: block;
    opacity: 0.9;
    border: none;
    width: 100%;
    text-align: left;
    background-color: #0077B6;
    color: #CAF0F8;
  }
  
  .dropdown-content button:hover {
    background-color: lightgray;
  }
  
  .profile-dropdown:hover .dropdown-content {
    display: block;
  }