 
h1 {
    color: red;
}


.parent {
    height: 100vh; 
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login {
    height: 100vh;
    width: 100vw;
    background-color: lightblue;
    font-size: 20px;
    text-align: center;
    color: white;
    top: 0;
}

.spacer {
    height: 20px;
}


#email, #password {
    background-color: white;
    width: 150px;
    height: 30px;
    text-align: center;
    color: red;
}   

#loginBtn {
    height: 40px;
    width: 200px;
    background-color: white;
    border-radius: 15px;
    border: 1px solid navy; 
}

#regLink {
    color:white;
}