.success {
    background-color: lightblue; /* Light Blue */
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .errmsg {
    color: red;
  }
  
  .register {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    width: 50%; 
    margin: 0 auto;
    display: flex;
    flex-direction: column; 
  }
  
  .instructions {
    font-size: 14px;
    color: #888;
    margin-top: 5px;
  }
  
  .offscreen {
    position: absolute;
    left: -9999px;
  }
  
  /* Left align form elements */
  .register form {
    display: flex;
    flex-direction: column;

  }
  
  .register label {
    margin-bottom: 5px;
  }
  
  .register input,
  .register button {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .logLink {
    color: #03a9f4; /* Light Blue */
    text-decoration: none;
    display: block; /* Make the login link a block-level element */
  }
  
  .logLink:hover {
    text-decoration: underline;
  }
  
  .register button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #03a9f4; /* Light Blue */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block; /* Make the button a block-level element */
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .pathToLogin {
    margin-top: 10px;
  }
  
  .pathToLogin .logLink {
    margin-left: 5px;
    display: block; /* Make the login link a block-level element */
  }
  