.navbar{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #00B4D8;
    position: fixed;
    justify-content: center;
    bottom : 0;
    gap: 20px;
  }

  .navItem{
    min-width: 60px;
    padding: 0px;
    color: #CAF0F8;
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.icon{
    font-size: 30px;
}


.top_header {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: rgb(0,180,216);
  background: linear-gradient(0deg, rgba(0,180,216,1) 47%, rgba(144,224,239,1) 100%); 
  position: fixed;
  justify-content: center;
  top: 0;
  gap: 40px;
}

.header {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 100vw;
}


