.addHeader{
    text-align: center;
    flex-direction: row;
    display: flex;
    padding: 10px;
    align-items: center;
    margin-top: 10px;
    font-family: Tahoma, sans-serif;
    color: #00B4D8;
    letter-spacing: 3px;
    }
.addTags{
    text-align: center;
    flex-direction: row;
    display: flex;
    padding: 5px;
    padding-left: 10px;
    align-items: center;
    font-family: Tahoma, sans-serif;
    color: #0077B6;
}
.addLocation{
    text-align: center;
    flex-direction: row;
    display: flex;
    padding: 5px;
    padding-left: 10px;
    align-items: center;
    font-family: Tahoma, sans-serif;
    color: #0077B6;

}

.addHeader h1{
    margin: 0px;
    padding: 0px;
    text-align: center;
    margin-left: 25%;
}


.addImage {
    width: 400px;
    height: 275px;
    border-radius: 10px;
    margin: 8px;
    margin-top: 30px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;

  }
  
.addImage img{
    width: 400px;
    height: 300px;
    border-radius: 10px;
    margin: 5px;
    object-fit: cover;
}
.chooseImage{
    text-align: center;
    flex-direction: row;
    display: flex;
    padding: 5px;
    padding-left: 10px;
    align-items: center;
    
    

}

.addCaption textarea{
    width: 100%;
    height: 120px;
    padding: 10px;
    margin: 0px;
    box-sizing: border-box;
    border: 0px;
    background-color: #fffffff9;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    border: 2px dashed #90E0EF;
    color: #0077B6;
}

.postSubmit {
    background-color: #00B4D8; 
    color: #CAF0F8;
    padding: 10px 20px; 
    font-size: 16px; 
    border: none; 
    border-radius: 5px; 
    width: 50%;
    height: 40px;
    width: 50%;
    font-family: Tahoma, sans-serif;
  }


  .spacers {
    height: 20px;
  }

  .custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #00B4D8; 
    color: #CAF0F8;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .custom-file-upload:hover {
    background-color: #0056b3;
  }
  
  .top_header {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: rgb(0,180,216);
    background: linear-gradient(0deg, rgba(0,180,216,1) 47%, rgba(144,224,239,1) 100%); 
    position: fixed;
    justify-content: center;
    top: 0;
    gap: 40px;
    display: none;
  }